body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", serif;
}

/* CSS for the logo */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 

}

.logo {
    stroke-width: 1; 
    stroke-dasharray: 500; /* To create a border drawing effect */
    stroke-dashoffset: 500; /* Hide the border initially */
    animation: vector-stroke-animation 1.5s ease-out both; 
}

.slogan .s2 {
    fill: #2d368e;
}

.slogan {
    opacity: 0;
    animation: fadeInLeft 1.5s ease-out forwards;
}

/* Effect for the logo */
@keyframes vector-stroke-animation {
    0% {
        stroke-dashoffset: 500;
        stroke: #2d368e;
        fill: transparent;
    }
    80% {
        stroke-dashoffset: 0;
        stroke: #2d368e;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: transparent;
    }
}
  
.logo.s0 { fill: url(#g1) } 
.logo.s1 { fill: url(#g2) } 
.logo.s2 { fill: #2d368e } 
.logo.s3 { fill: #73be44 } 

/* Effect for the slogan */
@keyframes fadeInLeft {
    0% {
        clip-path: inset(0 100% 0 0); 
        opacity: 0;
    }
    50% {
        clip-path: inset(0 50% 0 0); 
        opacity: 0.5;
    }
    100% {
        clip-path: inset(0 0 0 0); 
        opacity: 1;
    }
}

