body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", serif;
}

/* CSS for the logo */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.logo {
    stroke-width: 1; 
    stroke-dasharray: 500; /* To create a border drawing effect */
    stroke-dashoffset: 500; /* Hide the border initially */
}

.logo.s0, .logo.s1 { 
    animation: vector-stroke-animation 2s ease-in-out forwards;
} 

.logo.s2, .logo.s3 {
    animation: text-stroke-animation 2s ease-in-out forwards;
}

stop {
    animation: gradient-fade 1s 1s ease-in-out forwards;
}

.slogan .s2 {
    fill: #2d368e;
}

.slogan {
    opacity: 0;
    animation: fadeInLeft 1.5s ease-out forwards;
}

/* Effect for the logo */
@keyframes vector-stroke-animation {
    0% {
        stroke-dashoffset: 500;
        stroke: #2d368e;
        fill: transparent;
        opacity: 0;
    }
    50% {
        stroke-dashoffset: 0;
        stroke: #2d368e;
        fill: transparent;
        opacity: 1;
    }
    80% {
        stroke-dashoffset: 0;
        stroke: transparent;
        fill: var(--fill--color);
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: transparent;
        fill: var(--fill--color);
        opacity: 1;
    }
}

@keyframes gradient-fade {
    0% {
      stop-opacity: 0; 
    }
    100% {
      stop-opacity: 1; 
    }
}

@keyframes text-stroke-animation {
    0% {
        stroke-dashoffset: 500;
        stroke: #2d368e;
        fill: transparent;
    }
    50% {
        stroke-dashoffset: 0;
        stroke: #2d368e;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: transparent;
        fill: var(--fill--color);
    }
}

.logo.s0 { --fill--color: url(#g1); } 
.logo.s1 { --fill--color: url(#g2) } 
.logo.s2 { --fill--color: #2d368e } 
.logo.s3 { --fill--color: #73be44 } 

/* Effect for the slogan */
@keyframes fadeInLeft {
    0% {
        clip-path: inset(0 100% 0 0); 
        opacity: 0;
    }
    50% {
        clip-path: inset(0 50% 0 0); 
        opacity: 0.5;
    }
    100% {
        clip-path: inset(0 0 0 0); 
        opacity: 1;
    }
}

